
.container,.area{
    height: 100vh;
    background-color: brown;
}

.container{
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.area{
    scroll-snap-align: start;
}

#page{ 
    font-size: 70px;
  margin: 0px;
}
